@{
    Layout = "~/Layout.cshtml";

    var gelegenheid = HttpContext.Current.Session["gelegenheid"].ToString();
    var thema = HttpContext.Current.Session["thema"].ToString();
    var aantalPersonen = HttpContext.Current.Session["aantalPersonen"].ToString();
    var typeCake = HttpContext.Current.Session["typeCake"].ToString();
    var aantalLagen = HttpContext.Current.Session["aantalLagen"].ToString();
    var bekleding = HttpContext.Current.Session["bekleding"].ToString();
    var vulling = HttpContext.Current.Session["vulling"].ToString();
    var allergien = HttpContext.Current.Session["allergien"].ToString();
    var decoratie = HttpContext.Current.Session["decoratie"].ToString();
    //ToString?
    var voorbeeldPlaatje = HttpContext.Current.Session["voorbeeldPlaatje"].ToString();
}

<body>

    <h2>
        Hieronder staan uw geselecteerde onderdelen. 
        Als u iets wilt aanpassen kunt u daar op drukken om het te wijzigen. 
        Als alles in orde is dan kunt u helemaal onderaan op de knop drukken en dan wordt er een mail gestuurd naar Fondanti met daarin uw wensen.
    </h2>

    <p>
        <h3>Gelegenheid:</h3>
        @gelegenheid
        <br />
        <br />

        <h3>Thema:</h3>
        @thema
        <br />
        <br />

        <h3>Aantal personen:</h3>
        @aantalPersonen
        <br />
        <br />

        <h3>Type cake:</h3>
        @typeCake
        <br />
        <br />

        <h3>Aantal lagen:</h3>
        @aantalLagen
        <br />
        <br />

        <h3>Bekleding:</h3>
        @bekleding
        <br />
        <br />

        @* Moet variabel zijn omdat het aantal lagen kan veranderen *@
        <h3>Vulling voor de eerste laag:</h3>
        @vulling
        <br />
        <br />

        <h3>Allergieën:</h3>
        @allergien
        <br />
        <br />

        <h3>Mate van decoratie:</h3>
        @decoratie
        <br />
        <br />

        <h3>Voorbeeldplaatje:</h3>
        @voorbeeldPlaatje
    </p>

</body>