@{
    
}

<body>

    <h1>
        Hieronder staan uw geselecteerde onderdelen. 
        Als u iets wilt aanpassen kunt u daar op drukken om het te wijzigen. 
        Als alles in orde is dan kunt u helemaal onderaan op de knop drukken en dan wordt er een mail gestuurd naar Fondanti met daarin uw wensen.
    </h1>

    <p>
        Thema:
        <br />
        @*Data uit session*@
        <br />
        <br />

        Aantal personen:
        <br />
        @*Data uit session*@
        <br />
        <br />

        Aantal lagen:
        <br />
        @*Data uit session*@
        <br />
        <br />

        Bekleding:
        <br />
        @*Data uit session*@
        <br />
        <br />

        @* Moet variabel zijn omdat het aantal lagen kan veranderen *@
        Vulling voor de eerste laag:
        <br />
        @*Data uit session*@
        <br />
        <br />

        Allergien:
        <br />
        @*Data uit session*@
        <br />
        <br />

        Mate van decoratie:
        <br />
        @*Data uit session*@
        <br />
        <br />

        Bijgevoegde data:
        <br />
        @*Data uit session*@
    </p>

</body>