<html>

<head>
    <title>Fondanti</title>
    <link href="~/Styles/Fondanti.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="jumbotron">
        <h1>Fondanti</h1>
        <h1>Fabulous cakes</h1>
    </div>

    <div id="main">
        @RenderBody()
    </div>
</body>

</html>