@using WebMatrix.Data
@using WebMatrix.WebData
@{
    Validation.RequireField("thema", "Kies een thema.");
    Validation.RequireField("aantalPersonen", "Kies aantal personen.");
    Validation.RequireField("laag", "Kies het aantal lagen.");
    Validation.RequireField("Bekleding", "Kies de type bekleding.");
    Validation.RequireField("typeCake", "Kies de type cake.");
    Validation.RequireField("taartVulling", "Kies een vulling voor de taart.");
    Validation.RequireField("Decoratie", "Kies de complexiteit van de decoratie.");
    Validation.RequireField("datumKlaar", "Kies een datum waarop de taart nodig is.");


    if (IsPost && Validation.IsValid())
    {
        //hier gaat de mail naar toe
        var email = "bencherifdiego@gmail.com";

        var errormessage = "";

        try
        {
            //Initialize WebMail helper
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 25;
            WebMail.EnableSsl = true;
            WebMail.UserName = "diegocodetest@gmail.com";
            WebMail.Password = "CodeTest";

            //Send email
            WebMail.Send(to: email,
                subject: "A new order has been recieved",
                body: Request["thema"] + Environment.NewLine + Request["laag"] + Environment.NewLine + Request["Bekleding"] + Environment.NewLine + Request["typeCake"] + Environment.NewLine + Request["taartVulling"] + Environment.NewLine + Request["Allergien"] + Environment.NewLine + Request["Decoratie"] + Environment.NewLine + Request["datumKlaar"]
                );
        }
        catch (Exception ex)
        {
            errormessage = ex.Message;
        }

    }

}

<body>
    <form method="post" name="Bestelling">
        @{
            //Volgorde: Thema > Personen > Lagen > Type Cake > Bekleding > Taart Vulling > Allergieën > Niveau van decoratie > Datum taart nodig
        }

        <h3>
            De eerste stap is het aangeven wat voor thema de taart of cake moet hebben. Kies een van de beschikbare mogelijkheden of geef in één of meerdere woorden aan voor wat voor ander thema u wenst.
        </h3>

        <br />

        <div>
            <input type="text" name="thema" list="thema" placeholder="Vul hier het thema in">
            <datalist id="thema">
                <option value="Verjaardag volwassene">
                <option value="Bruiloft">
                <option value="Verjaardag kind">
            </datalist>
        </div>

        <br />
        <br />

        <h3>
            De volgende stap is het aangeven voor hoeveel personen de taart moet zijn. De taart moet uiteraard groot genoeg zijn voor het aantal gasten. Hieronder kunt u het aantal personen invullen.
        </h3>

        <br />

        <div>
            <input type="text" name="aantalPersonen" placeholder="Vul hier het aantal personen in" />
        </div>

        <br />
        <br />

        <h3>
            Nu kunt u aangeven welke type cake u wilt. De gehele taart wordt gemaakt met deze type cake. U kunt hieronder kiezen uit de verschillende mogelijkheden.
        </h3>

        <br />

        <select>
            <option value="" disabled selected>Kies een type cake</option>
            <option value="chocolade">Chocolade</option>
            <option value="red_velvet">Red velvet</option>
            <option value="biscuit">Biscuitdeeg</option>
        </select>

        <br />
        <br />

        <h3>
            Hier kunt u aangeven uit hoeveel lagen de taart moet bestaan. Per laag kunnen er minimaal 15 personen uit gehaald worden. Hieronder kunt u kiezen uit de mogelijkheden die zijn gebaseerd op het aantal personen.
        </h3>

        <br />

        <div>
            <select>
                <option value="" disabled selected>Kies het gewenste aantal lagen</option>
                <option value="1">1 laag</option>
                <option value="2">2 lagen</option>
                <option value="3">3 lagen</option>
                <option value="4">4 lagen</option>
            </select>
        </div>

        <br />
        <br />

        <h3>
            Elke taart krijgt uiteraard een mooie bekleding. U kunt hieronder aangeven of u wilt dat de taart bekleed wordt met fondant, marsepein of allebei.
        </h3>

        <br />

        <select>
            <option value="" disabled selected>Kies de bekleding</option>
            <option value="fondant">fondant</option>
            <option value="marsepein">Marsepein</option>
            <option value="allebei">Fondant en marsepein</option>
        </select>

        <br />
        <br />

        <h3>
            Elke laag van de taart bevat een vulling. In deze stap kunt u aangeven welke vulling u in elke laag wilt hebben.
        </h3>

        <br />

        <select>
            <option value="" disabled selected>Kies de vulling voor de eerste laag</option>
            <option value="champagne-frambozen">Champagneroom met verse frambozen</option>
            <option value="room-oreo">Gele room met Oreo</option>
            <option value="kind">Kindervulling (vruchtencompote en room)</option>
        </select>

        <br />
        <br />

        <h3>
            Indien u de taart geschikt wilt maken voor eventuele allergieën dan kunt u dat hier aangeven. Kies voor “Geen” als er geen rekening met allergieën gehouden moet worden.
        </h3>

        <div>
            <input type="text" name="allergien" list="allergien" placeholder="Geef hier eventuele allergieën aan">
            <datalist id="allergien">
                <option value="Geen">
                <option value="Glutenvrij">
            </datalist>
        </div>

        <br />
        <br />

        <h3>
            Het samenstellen is bijna klaar. U hoeft hier alleen nog maar aan te geven hoe u het niveau van decoratie gewenst had. Dit is natuurlijk een belangrijk aspect van uw taart. Hieronder kunt u kiezen uit de mogelijkheden.
        </h3>

        <div>
            <select>
                <option value="" disabled selected>Kies hier het gewenste niveau van decoratie</option>
                <option value="eenvoudig">Eenvoudig</option>
                <option value="gemiddeld">Gemiddeld</option>
                <option value="uitgebreid">Uitgebreid</option>
            </select>
        </div>

        <br />
        <br />

        <h3>
            Mocht u een afbeelding hebben van een voorbeeldtaart ter inspiratie dan kunt u die hier uploaden. Als u dat niet heeft, kunt u deze stap overslaan en verder gaan naar de volgende pagina.
        </h3>

        <div>
            <input type="file" name="img" single>
        </div>

        <br />
        <br />

        <button>
            <a href="~/Bevestiging.cshtml">Opslaan en naar de volgende pagina</a>
        </button>

    </form>
</body>

