@using WebMatrix.Data
@using WebMatrix.WebData
@{
    Layout = "~/Layout.cshtml";


    //Alle variabelen voor het samenstellen van de taart
    var gelegenheid = "";
    var thema = "";
    var aantalPersonen = "";
    var typeCake = "";
    var aantalLagen = "";
    var bekleding = "";
    var vulling = "";
    var allergien = "";
    var decoratie = "";
    var voorbeeldPlaatje = "";

    if (IsPost /*& validatie is ok*/)
    {
        //variabelen de ingevulde waarde meegeven
        gelegenheid = Request.Form["gelegenheid"];
        thema = Request.Form["thema"];
        aantalPersonen = Request.Form["aantalPersonen"];
        typeCake = Request.Form["typeCake"];
        aantalLagen = Request.Form["aantalLagen"];
        bekleding = Request.Form["bekleding"];
        vulling = Request.Form["vulling"];
        allergien = Request.Form["allergien"];
        decoratie = Request.Form["decoratie"];
        voorbeeldPlaatje = Request.Form["voorbeeldPlaatje"];

        //variabelen in sessions zetten
        Session["gelegenheid"] = gelegenheid;
        Session["thema"] = thema;
        Session["aantalPersonen"] = aantalPersonen;
        Session["typeCake"] = typeCake;
        Session["aantalLagen"] = aantalLagen;
        Session["bekleding"] = bekleding;
        Session["vulling"] = vulling;
        Session["allergien"] = allergien;
        Session["decoratie"] = decoratie;
        Session["voorbeeldPlaatje"] = voorbeeldPlaatje;

        //doorgaan naar bevestigingpagina
        Response.Redirect("Bevestiging.cshtml");
    }


    //Moet aangepast worden

    //Validation.RequireField("thema", "Kies een thema.");
    //Validation.RequireField("aantalPersonen", "Kies aantal personen.");
    //Validation.RequireField("laag", "Kies het aantal lagen.");
    //Validation.RequireField("Bekleding", "Kies de type bekleding.");
    //Validation.RequireField("typeCake", "Kies de type cake.");
    //Validation.RequireField("taartVulling", "Kies een vulling voor de taart.");
    //Validation.RequireField("Decoratie", "Kies de complexiteit van de decoratie.");
    //Validation.RequireField("datumKlaar", "Kies een datum waarop de taart nodig is.");

    //Mailgedeelte
    if (IsPost && Validation.IsValid())
    {
        //hier gaat de mail naar toe
        var email = "bencherifdiego@gmail.com";

        var errormessage = "";

        try
        {
            //Initialize WebMail helper
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 25;
            WebMail.EnableSsl = true;
            WebMail.UserName = "diegocodetest@gmail.com";
            WebMail.Password = "CodeTest";

            //Send email
            WebMail.Send(to: email,
                subject: "A new order has been recieved",
                body: Request["thema"] + Environment.NewLine + Request["laag"] + Environment.NewLine + Request["Bekleding"] + Environment.NewLine + Request["typeCake"] + Environment.NewLine + Request["taartVulling"] + Environment.NewLine + Request["Allergien"] + Environment.NewLine + Request["Decoratie"] + Environment.NewLine + Request["datumKlaar"]
                );
        }
        catch (Exception ex)
        {
            errormessage = ex.Message;
        }

    }

}

<body>
    <form method="post" name="bestelling">
        @{
            //Volgorde: Thema > Personen > Lagen > Type Cake > Bekleding > Taart Vulling > Allergieën > Niveau van decoratie > Datum taart nodig
        }

        <h3>
            De eerste stap is het aangeven voor welke gelegenheid de taart of cake is. Kies een van de beschikbare opties of vul zelf een gelegenheid in.
        </h3>

        <br />

        <div>
            <input type="text" name="gelegenheid" list="gelegenheid" placeholder="Vul hier de gelegenheid in">
            <datalist id="gelegenheid">
                <option value="Verjaardag volwassene">
                <option value="Bruiloft">
                <option value="Verjaardag kind">
            </datalist>
        </div>

        <br />
        <br />

        <h3>
            Hier kunt u aangeven welk thema de taart moet krijgen. Dit is een belangrijke keuze want de taart wordt in deze stijl gedecoreerd. Vul hieronder een thema in.
        </h3>

        <br />

        <div>
            <input type="text" name="thema" placeholder="Vul hier een thema in" />
        </div>

        <br />
        <br />

        <h3>
            De volgende stap is het aangeven voor hoeveel personen de taart moet zijn. De taart moet uiteraard groot genoeg zijn voor het aantal gasten. Hieronder kunt u het aantal personen invullen.
        </h3>

        <br />

        <div>
            <input type="text" name="aantalPersonen" placeholder="Vul hier het aantal personen in" />
        </div>

        <br />
        <br />

        <h3>
            Nu kunt u aangeven welke type cake u wilt. De gehele taart wordt gemaakt met deze type cake. U kunt hieronder kiezen uit de verschillende mogelijkheden.
        </h3>

        <br />

        <select name="typeCake">
            <option disabled selected>Kies een type cake</option>
            <option>Chocolade</option>
            <option>Red velvet</option>
            <option>Biscuitdeeg</option>
        </select>

        <br />
        <br />

        <h3>
            Hier kunt u aangeven uit hoeveel lagen de taart moet bestaan. Per laag kunnen er minimaal 15 personen uit gehaald worden. Hieronder kunt u kiezen uit de mogelijkheden die zijn gebaseerd op het aantal personen.
        </h3>

        <br />

        <div>
            <select name="aantalLagen">
                <option disabled selected>Kies het gewenste aantal lagen</option>
                <option>1 laag</option>
                <option>2 lagen</option>
                <option>3 lagen</option>
                <option>4 lagen</option>
            </select>
        </div>

        <br />
        <br />

        <h3>
            Elke taart krijgt uiteraard een mooie bekleding. U kunt hieronder aangeven of u wilt dat de taart bekleed wordt met fondant, marsepein of allebei.
        </h3>

        <br />

        <select name="bekleding">
            <option disabled selected>Kies de bekleding</option>
            <option>Fondant</option>
            <option>Marsepein</option>
            <option>Fondant en marsepein</option>
        </select>

        <br />
        <br />

        <h3>
            Elke laag van de taart bevat een vulling. In deze stap kunt u aangeven welke vulling u in elke laag wilt hebben.
        </h3>

        <br />

        <select name="vulling">
            <option disabled selected>Kies de vulling voor de eerste laag</option>
            <option>Champagneroom met verse frambozen</option>
            <option>Gele room met Oreo</option>
            <option>Kindervulling (vruchtencompote en room)</option>
        </select>

        <br />
        <br />

        <h3>
            Indien u de taart geschikt wilt maken voor eventuele allergieën dan kunt u dat hier aangeven. Kies voor “Geen” als er geen rekening met allergieën gehouden moet worden.
        </h3>

        <div>
            <input type="text" name="allergien" list="allergien" placeholder="Geef hier eventuele allergieën aan">
            <datalist id="allergien">
                <option value="Geen">
                <option value="Glutenvrij">
            </datalist>
        </div>

        <br />
        <br />

        <h3>
            Het samenstellen is bijna klaar. U hoeft hier alleen nog maar aan te geven hoe u het niveau van decoratie gewenst had. Dit is natuurlijk een belangrijk aspect van uw taart. Hieronder kunt u kiezen uit de mogelijkheden.
        </h3>

        <div>
            <select name="decoratie">
                <option disabled selected>Kies hier het gewenste niveau van decoratie</option>
                <option>Eenvoudig</option>
                <option>Gemiddeld</option>
                <option>Uitgebreid</option>
            </select>
        </div>

        <br />
        <br />

        <h3>
            Mocht u een afbeelding hebben van een voorbeeldtaart ter inspiratie dan kunt u die hier uploaden. Als u dat niet heeft, kunt u deze stap overslaan en verder gaan naar de volgende pagina.
        </h3>

        <div>
            <input type="file" name="voorbeeldPlaatje" single>
        </div>

        <br />
        <br />

        <input type="Submit" value="Opslaan en naar de volgende pagina" />

    </form>
</body>

