@{
    
}

<body>
    <h1>
        Welkom bij de samensteltool van Fondanti.
        Met deze tool kunt u eenvoudig een taart of cake samenstellen waarbij u direct een prijsindicatie krijgt. 
        U doorloopt op de volgende pagina een vragenlijst waarbij u kunt kiezen uit de opties die wij bieden. 
        Daardoor kunt u uw unieke taart samenstellen.
        <br />
        Aan het einde worden alle keuzes nog eens op een rijtje gezet en kunt u er voor kiezen om de wensen door te sturen naar Fondanti. 
        Wij zullen dan contact met u opnemen om de bestelling te plaatsen.
    </h1>

    <button>
        <a href="~/Samenstellen.cshtml">Door naar het samenstellen</a>    
    </button>
</body>